<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'period_viewer/style.css' %}">
</head>
<body>

<div class = "li">
<a href="{% url 'select_per' %}">Назад к выбору</a> <br>
Периоды отсутствия
<br>
{% for t in work_time %}
{% if t.4 %}
C {{t.0}} до {{t.1}} работа: {{t.2}} мин. {{t.3}} с.<br>
{% else %}
C {{t.0}} до {{t.1}} пропущенно: {{t.2}} мин. {{t.3}} с.<br>
{% endif %}
{% endfor %}




<br>
Время работы
{% if all_time_h %}
{{all_time_h}} ч.
{% endif %} {{all_time_m}} мин. {{all_time_s}} c.
<br>
Всего времени пропущенно {{sum_absent_min}} мин. {{sum_absent_sec}} с. <br>
<br>
</div>

<div class="rectangle" style="width: 570px; height: 325px; border:1px solid; margin:auto;"></div>

{% if video %}
<div class="square">
    <video width="560" height="315" controls preload="auto">
        <source src="{{video}}">
    </video>
    <div class = "progress_bar">

        <div class="timeline">
{% for t in all_time%}
    {% if t.0 %}
    <div class = "prog_bar" style="width: {{t.1}}px; height: 10px; background: #5bd0ff;"></div>
    {% else %}
    <div class = "prog_bar" style="width: {{t.1}}px; height: 10px; background: #F00;"></div>
    {% endif %}
{% endfor %}
            <br></div>

        <div class="timeline">
{% for t in customers%}
    {% if t.1 %}
    <div class = "prog_bar" style="width: {{t.0}}px; height: 10px; background: #ddd;"></div>
    {% else %}
    <div class = "prog_bar" style="width: {{t.0}}px; height: 10px; background: #29d900;"></div>
    {% endif %}
{% endfor %}
        </div>

{% endif %}
    </div></div></div>
</body>
</html>