<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'period_viewer/style.css' %}">
</head>
<body>

<a href="{% url 'select_per' %}"><button class="back button">Назад</button></a>


<div class="menu">
    <a href="{% url 'logout' %}"><button class="small_button">Выйти</button></a>
</div>

<main>
<div class = "li">
    <h5 style="text-align: center;">Статистика</h5>
Периоды отсутствия
<br>
{% for t in work_time %}
{% if t.4 %}
C {{t.0}} до {{t.1}} работа: {{t.2}} мин. {{t.3}} с.<br>
{% else %}
C {{t.0}} до {{t.1}} пропущенно: {{t.2}} мин. {{t.3}} с.<br>
{% endif %}
{% endfor %}




<br>
Общее время
{% if all_time_h %}
{{all_time_h}} ч.
{% endif %} {{all_time_m}} мин. {{all_time_s}} c.
<br>
    Время работы
{% if sum_work_h %}{{sum_work_h}} ч.
{% endif %} {{sum_work_min}} мин. {{sum_work_sec}} c.<br>
Времени пропущенно {{sum_absent_min}} мин. {{sum_absent_sec}} с. <br>
<br>
    Потенциальных покупателей {{num_custs}}<br>
</div>

<!--<div class="rectangle" style="width: 570px; height: 325px; border:1px solid; margin:auto;"></div>-->

{% if video %}
<div class="square">
    <video controls preload="auto" class="video">
        <source src="{{video}}">
    </video>
    <div class = "progress_bar">

        <div class="timeline">
{% for t in all_time%}
    {% if t.0 %}
    <div class = "prog_bar" style="width: {{t.1}}%; height: 10px; background: #5bd0ff;"></div>
    {% else %}
    <div class = "prog_bar" style="width: {{t.1}}%; height: 10px; background: #F00;"></div>
    {% endif %}
{% endfor %}
            <br></div>

        <div class="timeline">
{% for t in customers%}
    {% if t.1 %}
    <div class = "prog_bar" style="width: {{t.0}}%; height: 10px; background: #ddd;"></div>
    {% else %}
    <div class = "prog_bar" style="width: 1%; height: 10px; background: #29d900;"></div>
    {% endif %}
{% endfor %}
        </div>
{% endif %}
        <t style="background: #5bd0ff;">Работник на месте</t>
        <t style="background: #f00;">Работник отсутсвует</t>
        <t style="background: #29d900;">Потенциальные покупатели</t>
        <t style="background: #ddd;">Отсутсвие посетителей</t>
    </div></div></main>
</body>
</html>