.select_form {
    margin-top: 80px;
    padding: 30px;
    text-align: center;
    margin-left: 50%;
    transform: translate(-50%);
    width: 60%;
    background-color: #f8f8f8;
    border-radius: 40px
}
.select_form input {
    height: 40px;
    margin: 5px;
}
.select_form h3 {
    margin: 5px;
}
.select_form t {
    font-size: 21px;
}

.select_form select {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
    background-color: DodgerBlue;
    margin: 5px;
}

.login_form{
    margin: auto;
}
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
.back {
    position: fixed;
    top: 10px;
    left: 30px;
}
/* .button {
    background-color: #4CAF50;
    border: none;
    color: #FFFFFF;
    padding: 15px 32px;
    text-align: center;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    margin: 16px 0 !important;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
} */



.button {
  text-decoration: none;
  display: inline-block;
  padding: 10px 30px;
  margin: 10px 20px;
  position: relative;
  overflow: hidden;
  border: 2px solid #1cd134;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #000;
  transition: .2s ease-in-out;
  background: #deffe6;
    font-size: 16px;
    cursor: pointer;
}
.button:before {
  content: "";
  background: linear-gradient(90deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .5));
  height: 50px;
  width: 50px;
  position: absolute;
  top: -8px;
  left: -75px;
  transform: skewX(-45deg);
}
.button:hover {
  background: #1cd134;
  color: #fff;
}
.button:hover:before {
  left: 150px;
  transition: .5s ease-in-out;
}


.small_button {
  text-decoration: none;
  display: inline-block;
  padding: 10px 30px;
  margin: 10px 20px;
  position: relative;
  overflow: hidden;
  border: 2px solid #1cd134;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #000;
  transition: .2s ease-in-out;
  background: #fff;
    font-size: 13px;
    cursor: pointer;
}
.small_button:before {
  content: "";
  background: linear-gradient(90deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .5));
  height: 50px;
  width: 50px;
  position: absolute;
  top: -8px;
  left: -75px;
  transform: skewX(-45deg);
}
.small_button:hover {
  background: #1cd134;
  color: #fff;
}
.small_button:hover:before {
  left: 150px;
  transition: .5s ease-in-out;
}

.menu {
    position: fixed;
    top: 19px;
    right: 10px;
}

.logout:hover {
  background: #ffe0af;
}

.video {
    width: 100%;
    min-width: 560px;
}

.file {
    background-color: DodgerBlue;
    border: none;
    color: #FFFFFF;
    padding: 15px 32px;
    text-align: center;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    margin: 16px 0 !important;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

.timeline {
    font-size: 0;
    margin: 5px 0;
    justify-content: space-between;
    display: flex;
}


.square {
    display: inline-block;
    width: calc(100% - 620px);
    margin: 50px 20px 10px 10px;
    min-width: 560px;
}
.rectangle{
position: absolute;
top: 15px;
left: 645px;
display: inline-block;

border:1px solid;

margin:auto;

}


.prog_bar {
    display: inline-block;
    margin: 0;
}

.progress_bar{
    padding: 0px 16px 20px;
}

.li {
    margin-top: 10px;
  list-style: none;
  display: inline-block;
  padding: 5px 10px;
  text-transform: uppercase;
  background-color: transparent;
  transition: all 0.5s;
  font-size:19px;
    vertical-align: top;
    border-radius: 40px
}

.li:hover {
  background-color: #f8f8f8;
  /*color: #ffffff;*/
}