.select_form {
    margin-top: 80px;
    text-align: center;
    display: inline-block;
    width: 60%;
    background-color: #f8f8f8;
    border-radius: 40px
}
.select_form input {
    height: 40px;
    margin: 5px;
}
.select_form h3 {
    margin: 5px;
}
.select_form t {
    font-size: 21px;
}

.select_form select {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
    background-color: DodgerBlue;
    margin: 5px;
}
.load_button {
    position: fixed;
    top: 20px;
    right: 30px;
    background-color: #4CAF50;
    border: none;
    color: #FFFFFF;
    padding: 5px 10px;
    text-align: center;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    margin: 16px 0 !important;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}
.logout {
    position: fixed;
    top: 10px;
    right: 10px;
}
.login_form{
    margin: auto;
}
.back {
    position: fixed;
    top: 20px;
    left: 30px;
}
.button {
    background-color: #4CAF50;
    border: none;
    color: #FFFFFF;
    padding: 15px 32px;
    text-align: center;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    margin: 16px 0 !important;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

.file {
    background-color: DodgerBlue;
    border: none;
    color: #FFFFFF;
    padding: 15px 32px;
    text-align: center;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    margin: 16px 0 !important;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}
